<!--
============================================
; Title: Nodebucket (Week 4 - Sprint 3)
; Author: Professor Krasso
; Date: 2 September 2022
; Modified By: Joel Hartung
;===========================================
-->

<div fxLayout="row wrap">
<!-- address div -->
  <div fxFlex>
    <br />
    <mat-card-content class="align-center">
      <mat-icon style="color:#740001">navigation</mat-icon>
      <br /><br />
      <p>1000 Galvin Road South</p>
      <p>Bellevue, NE</p>
    </mat-card-content>
  </div>

<!-- contact div -->
  <div fxFlex>
    <br />
    <mat-card-content class="align-center">
      <mat-icon style="color:#740001">phone</mat-icon>
      <br /> <br />
      <p><strong>Direct: </strong> 555-555-5555</p>
      <p><strong>Toll-free: </strong> 1-800-555-5555</p>
      <p><strong>Fax: </strong> 555-555-5555</p>
    </mat-card-content>
  </div>
</div>

<br /><br /><br /><br />
<div fxLayout="column">
  <p style="text-align: center; font-style: italic;">
    Service is just one click away!
  </p>
</div>
