<!--
============================================
; Title: Nodebucket (Week 4 - Sprint 3)
; Author: Professor Krasso
; Date: 2 September 2022
; Modified By: Joel Hartung
;===========================================
-->

<!-- 404 page not found error -->
<div fxLayout="column">
  <mat-card fxFlex style="margin-top: 10%; width: 50%; margin-left: 18%;" class="mat-elevation-z0">
    <mat-card-title style="text-align: center; padding-left: 30%;">
      <h1 style="color: rgb(156, 0, 0)"><strong>Oops! Something went wrong...</strong></h1>
      <p>404 Error - Page Not Found</p>
      <img src="../../../assets/hole-in-bucket.jpg" style="max-width: 400px" />

    </mat-card-title>
    <br />
    <mat-card-content style="text-align: center; padding-left: 30%;">
      <button mat-raised-button style="color:#740001" routerLink="/">Return home</button>
    </mat-card-content>"
  </mat-card>
</div>
