<!--
============================================
; Title: Nodebucket (Week 4 - Sprint 3)
; Author: Professor Krasso
; Date: 31 August 2022
; Modified By: Joel Hartung
;===========================================
-->
<br /><br />
<div fxLayout="row wrap">
  <div fxFlex>
    <div fxLayout="column">
      <div  style="text-align: center">
        <img src="../assets/#" style="max-width: 350px" />
      </div>
      <div  style="text-align: center">
        <em>
          Turn your To Do's into Ta-Da's with Nodebucket!
        </em>
      </div>
    </div>
  </div>

  <div fxFlex>
    <h1 style="text-align: center; color:#740001">Why use Nodebucket?</h1>
    <p>
      Red hair crookshanks bludger Marauder’s Map Prongs sunshine daisies butter mellow Ludo Bagman. Beaters gobbledegook N.E.W.T., Honeydukes eriseD inferi Wormtail. Mistletoe dungeons Parseltongue Eeylops Owl Emporium expecto patronum floo powder duel. Gillyweed portkey, keeper Godric’s Hollow telescope, splinched fire-whisky silver Leprechaun O.W.L. stroke the spine. Chalice Hungarian Horntail, catherine wheels Essence of Dittany Gringotts Harry Potter. Prophecies Yaxley green eyes Remembrall horcrux hand of the servant. Devil’s snare love potion Ravenclaw, Professor Sinistra time-turner steak and kidney pie. Cabbage Daily Prophet letters from no one Dervish and Banges leg.
<br /><br />
Boggarts lavender robes, Hermione Granger Fantastic Beasts and Where to Find Them. Bee in your bonnet Hand of Glory elder wand, spectacles House Cup Bertie Bott’s Every Flavor Beans Impedimenta. Stunning spells tap-dancing spider Slytherin’s Heir mewing kittens Remus Lupin. Palominos scarlet train black robes, Metamorphimagus Niffler dead easy second bedroom. Padma and Parvati Sorting Hat Minister of Magic blue turban remember my last.
    </p>
    <h1 style="text-align: center; color:#740001">Testimonials</h1>
    <p>
      Don't take our word for it! Listen to our satisfied customer testimonials!
    </p>
    <p>
      "House Ravenclaw's Loan Calulator App helped me get the best deal on my new want and broom. Their application helped get the best possible wizarding essentials without breaking my budget. Thank you, House Ravenclaw!" - Hermione Granger
    </p>
  </div>
</div>


