/*
============================================
; Title: Nodebucket (Week 2 - Sprint 1)
; Author: Professor Krasso
; Date: 20 August 2022
; Modified By: Joel Hartung
;===========================================
*/

.main-welcome {
  margin-top: 30px;
}

.title {
  text-align: center;
  font-weight: lighter;
}

.subtitle {
  text-align: center;
  font-size: 14px;
}

.task-container {
  width: 35%;
  margin: 0 auto;
}

.task-column {
  border: 1px solid #ccc;
  min-height: 68px;
  border-radius: 4px;
  overflow: hidden;
  display: block;
  background: white;
}

.task-card {
  cursor: move;
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  min-height: 68px;
  font-size: 14px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
}
